  <appSettings>
    
    
    <add key="ReportServerUser" value="Jose"/>
    <add key="ReportServerPassword" value="rinoa1382"/>
    <add key="ReportServerDomain" value="localhost"/>
    
    
    <add key="ReportServer" value="http://localhost/ReportServer_MSSQLSERVER2012"/>
    <add key="ReportFolder" value="riin"/>
    
    <add key="rptTabular" value="Tabular"/>
    
    <add key="rptGeneral" value="General"/>
    <add key="rptGeneralChart" value="GeneralChart"/>
    <add key="rptGeneralTable" value="GeneralTable"/>

    <add key="rptTendenciaMes" value="TendenciaMes"/>
    <add key="rptTendenciaMesChart" value="TendenciaMesChart"/>
    <add key="rptTendenciaMesTable" value="TendenciaMesTable"/>

    <add key="rptTendenciaDia" value="TendenciaDia"/>
    <add key="rptTendenciaDiaChart" value="TendenciaDiaChart"/>
    <add key="rptTendenciaDiaTable" value="TendenciaDiaTable"/>

    <add key="rptTendenciaHora" value="TendenciaHora"/>
    <add key="rptTendenciaHoraChart" value="TendenciaHoraChart"/>
    <add key="rptTendenciaHoraTable" value="TendenciaHoraTable"/>
  </appSettings>
